<!-- Terras Malditas - Actor Sheet -->
<section class="tm actor-sheet">
  <div class="header">
    <div class="profile-img">
      <img src="{{actor.img}}" alt="{{actor.name}}" title="{{actor.name}}" />
    </div>
    <div class="profile-name">
      <input type="text" name="name" value="{{actor.name}}" placeholder="Nome do Personagem" />
    </div>
  </div>
</section>
