<!-- Terras Malditas - Item Sheet -->
<section class="tm item-sheet">
  <div class="header">
    <input type="text" name="name" value="{{item.name}}" placeholder="Nome do Item" />
  </div>
</section>
