<form class="item-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Nome do Idioma"/>
    </h1>
  </header>

  <section class="sheet-body">
    <p>Este item representa um idioma conhecido pelo personagem. Nenhum outro campo é necessário.</p>
  </section>
</form>
