<div class="item-form">
  <div class="form-group">
    <label>Nome</label>
    <input type="text" name="name" value="{{item.name}}" />
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <textarea name="system.description">{{item.system.description}}</textarea>
  </div>
</div>
