<form class="item-sheet" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Nome do Traço"/>
    </h1>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>Script de Efeito</label>
      <textarea name="system.trait_effect_script" rows="10" style="width: 100%;">{{item.system.trait_effect_script}}</textarea>
    </div>
  </section>
</form>
